<div class="panel panel-default" style="border-color: #a5a5a5;">
  <div class="panel-heading" style="background-color: #bfbfbf;">
    <h3 class="panel-title">Fakty</h3>
  </div>
  <div class="panel-body">
    <accordion>
      <accordion-group [heading]="getGroupHeading(factName)" *ngFor="let factName of factsNames">
        <table class="table">
          <tbody>
          <tr *ngFor="let fact of factsMap.get(factName); let i = index">
            <th scope="row" style="width: 10%;">{{i + 1}}</th>
            <td>{{fact.value}}</td>
            <td>
              <a (click)="removeFact(fact)" class="pull-right remove-object">
                <i class="glyphicon glyphicon-trash"></i>
              </a>
            </td>
          </tr>
          </tbody>
        </table>
      </accordion-group>
    </accordion>

    <a class="btn btn-default" style="margin-top: 10px; border-color: #a5a5a5;" (click)="openAddFactDialog()">Dodaj fakt</a><br />
  </div>
</div>
